//
// Nissan
// --------------------------------------------------
@font-face {
  font-family: 'Nissan';
  src: url('../fonts/NissanAGLig_TTF.eot'); /* IE9 Compat Modes */
  src: url('../fonts/NissanAGLig_TTF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/NissanAGLig_TTF.woff') format('woff'), /* Modern Browsers */
       url('../fonts/NissanAGLig_TTF.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/NissanAGLig_TTF.svg#01fc97ff18af637e7d61ea6fc2be36bb') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Nissan';
  src: url('../fonts/NissanAGMedExt_TTF.eot'); /* IE9 Compat Modes */
  src: url('../fonts/NissanAGMedExt_TTF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/NissanAGMedExt_TTF.woff') format('woff'), /* Modern Browsers */
       url('../fonts/NissanAGMedExt_TTF.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/NissanAGMedExt_TTF.svg#7393c62f41dfe99b3e68cbe2fce036d5') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}

@font-face {
	font-family: 'Nissan';
	src: url('../fonts/NissanAGMed_TTF.eot'); /* IE9 Compat Modes */
	src: url('../fonts/NissanAGMed_TTF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/NissanAGMed_TTF.woff') format('woff'), /* Modern Browsers */
	url('../fonts/NissanAGMed_TTF.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/NissanAGMed_TTF.svg#37a7c122f808d8922620ff0a902da922') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  500;
}
@font-face {
	font-family: 'Nissan-medium';
	src: url('../fonts/NissanAGMed_TTF.eot'); /* IE9 Compat Modes */
	src: url('../fonts/NissanAGMed_TTF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/NissanAGMed_TTF.woff') format('woff'), /* Modern Browsers */
	url('../fonts/NissanAGMed_TTF.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/NissanAGMed_TTF.svg#37a7c122f808d8922620ff0a902da922') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  500;
}

@font-face {
  font-family: 'Nissan';
  src: url('../fonts/NissanAGReg_TTF.eot'); /* IE9 Compat Modes */
  src: url('../fonts/NissanAGReg_TTF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/NissanAGReg_TTF.woff') format('woff'), /* Modern Browsers */
       url('../fonts/NissanAGReg_TTF.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/NissanAGReg_TTF.svg#72fb132c04038ec20704cd8e379fef59') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
	font-family: 'Nissan';
	src: url('../fonts/NissanAGBol_TTF.eot'); /* IE9 Compat Modes */
	src: url('../fonts/NissanAGBol_TTF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/NissanAGBol_TTF.woff') format('woff'), /* Modern Browsers */
	url('../fonts/NissanAGBol_TTF.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/NissanAGBol_TTF.svg#000b5e1710f527ecbfb8b900e73d3373') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  700;
}