//
// Actiemodel detail
// --------------------------------------------------
.actiemodel.detail {
	//
	// header
	//
	.header {
		aside.bijtelling {
			margin: 0 0 5px;
			padding: 10px 20px;
			background: $merk-color;
			@include box-shadow(0 0 5px #555);
			h1,h2,h3,h4,h5,h6,p,a,ul,label,sup,sub {
				color: #fff;
			}
			.left {
				width: 40%;
				margin: 0;
			}
			.right {
				width: 60%;
				margin: 0;
				font-size: 32px;
				line-height: 48px;
				text-align: right;
			}
			@media screen and (max-width: 1230px){
				.left,.right { width: 100%; text-align: left; }
			}
		}
	}



	//
	// gegevens
	//
	#gegevens {
		background: none;
		@include box-shadow(none);
		h2,h3,h4,h5,h6 {
			color: $merk-color;
		}
	}



	//
	// extra-informatie
	//
	#extra-informatie {
		background: none;
		ul.details {
			label { width: 30%; }
			span { width: 70%; }
		}
	}
}