//
// Modelmodule detail
// --------------------------------------------------
.occasions.modelmodule {
	//
	// overzicht
	//
	h1.top {
		padding: 0 0 30px;
	}
	#overzicht {
		li {
			div.item {
				padding: 0 0 20px;
				border-bottom: 1px solid $grayLight;
				@include clearfix;
			}
			h4 {
				margin: 10px 0;
				color: $merk-color;
			}
			.content {
				clear: both;
				padding: 5px 5px 0;
				background: $grayLighter;
				figure {
					position: relative;
				}
				img {
					display: block;
					margin: 0 0 10px;
				}
				.lease-overzicht {
					margin: 0 -55px -20px;
					li {
						padding: 16px 55px 11px;
						border-top: 1px solid #fff;
						p {
							margin: 0 0 5px;
							display: inline-block;
							vertical-align: middle;
							width: 49%;
						}
						h4 {
							display: inline-block;
							margin: 0 0 5px;
							font-size: 28px;
							vertical-align: middle;
							min-width: 140px;
						}
					}
				}
				.bottom {

					.price {
						float: left;
						margin: 0 0 0 20px;
						font-size: 26px;
					}
					.button {
						float: right;
						margin: 0 0 10px;
					}
				}
			}
		}
	}

	&.overzicht {
		.lease-overzicht {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: 0 !important;
			background: #000;
			background: rgba(0,0,0,.5);
			@media screen and (max-width: 1280px) {
				position: static;
				top: 0;
				right: 0;
				botto: 0;
				margin: 0 0 10px!important;
				display: block;
				width: 100%;
			}
			li {
				padding-left: 10px !important;
				padding-right: 10px !important;
				&:first-child { border-top: 0 !important; }
				p,h4,sup { color: #fff !important; }
			}
		}
	}

	//
	// Nieuwsoverzicht
	//
	#overzicht.nieuws {
		li .item > {
			.content {
				margin: 0 0 10px;
				padding: 5px;
				img {
					margin: 0
				}
			}
			h4,p,a.readmore {
				margin: 0 0 5px;
			}
		}
	}
}