//
// Overzichts pagina's (muv occasions)
// --------------------------------------------------
.overzicht {
	//
	// overzicht
	//
	#overzicht {
		> li {
			margin: 0 0 10px;
			div.item {
				padding: 0 0 20px;
				border-bottom: 1px solid $grayLight;
				@include clearfix;
			}
			h4 {
				margin: 10px 0;
				color: $merk-color;
			}
			.content {
				clear: both;
				padding: 5px 5px 0;
				background: $grayLighter;
				figure {
					position: relative;
					overflow: hidden;
				}
				img {
					display: block;
					margin: 0 0 10px;
				}
				.lease-overzicht {
					bottom: 10px;
					margin: 0 -55px -20px;
					li {
						padding: 27px 55px 23px;
						border-top: 1px solid #fff;
						p {
							margin: 0 0 5px;
							display: inline-block;
							vertical-align: middle;
							width: 49%;
						}
						h4 {
							display: inline-block;
							margin: 0 0 5px;
							font-size: 28px;
							vertical-align: middle;
							min-width: 140px;
						}
					}
				}
				.bottom {

					.price {
						float: left;
						margin: 0 0 0 20px;
						font-size: 26px;
					}
					.button {
						float: right;
						margin: 0 0 10px;
					}
				}
			}
		}
	}



	//
	// actiemodel-overzicht
	//
	&.actiemodel {
		.header {
			margin: 0 0 20px;
			h1 {
				padding: 35px 0 0;
				border-top: 1px solid $grayLight;
			}
		}
	}



	//
	// lease-overzicht
	//
	.lease-overzicht {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		margin: 0 !important;
		background: #000;
		background: rgba(0,0,0,.5);
		@media screen and (max-width: 1280px) {
			position: static;
			top: 0;
			right: 0;
			botto: 0;
			margin: 0 0 10px !important;
			display: block;
			width: 100%;
		}
		li {
			padding-left: 10px !important;
			padding-right: 10px !important;
			&:first-child { border-top: 0 !important; }
			p,h4,sup,sub { color: #fff !important; }
		}
	}


	//
	// Nieuwsoverzicht
	//
	#overzicht.nieuws {
		li .item > {
			.content {
				margin: 0 0 10px;
				padding: 5px;
				img {
					margin: 0
				}
			}
			h4,p,a.readmore {
				margin: 0 0 5px;
			}
		}
	}


	//
	// Medewerkers
	//
	#overzicht.medewerkers {
		li {
			.item {
				position: relative;
				padding: 10px 10px 7px;
				background: $grayDark;
				border: none;
				color: #fff;
				@include box-shadow(0 0 5px #666);
				figure {
					margin: -5px -5px 15px;
				}
				h5 {
					font-size: $default-font-size;
					color: $merk-color;
				}
				a.tel {
					display: block;
					padding: 0 40px 0 0;
					font-size: 13px;
					font-weight: 700;
					text-transform: uppercase;
					color: #fff;
					span {
						display: block;
						font-weight: 400;
					}
				}
				a.mail {
					position: absolute;
					right: 5px;
					bottom: 5px;
					font-size: 25px;
					color: $grayLighter;
					@include transition(all .3s);
					&:hover {
						color: $merk-color;
					}
				}
			}
		}
	}
}