//
// vestiging.scss
// --------------------------------------------------
.vestiging {
	//
	// gegevens
	//
	#gegevens {
		.vcard {
			float: left;
			width: 45%;
		}
		.openingstijden {
			float: left;
			width: 55%;
			margin: 0 0 15px;
			ul {
				span {
					float: right;
					width: 150px;
				}
			}
		}
		@media screen and (max-width: 1060px) {
			.vcard,.openingstijden {
				display: block;
				float: none;
				width: 100%;
			}
		}
	}



	//
	// routebeschrijving
	//
	#routebeschrijving {
		color: #fff;
		padding: 60px 0 45px;
		background: $grayDark;

		@include clearfix;
		h4 {
			margin: 0 0 20px;
			padding: 0 0 20px;
			color: $merk-color;
		}
		img {
			border: 2px solid #fff;
		}
		a {
			position: relative;
			display: block;
			color: #fff;
			&:hover {
				color: $merk-color;
			}
			&:after {
				background: $merk-color url("../img/sprite-arrows.png") -7px -7px no-repeat;
				content: "";
				height: 16px;
				width: 16px;
				left: auto;
				right: 0;
				position: absolute;
				top: 3px;
				@include border-radius(50%);
			}
			&.route {
				margin: 27px 0 35px;
			}
		}
		.fa-car {
			display: inline-block;
			width: 14px;
			height: 10px;
			background: url(../img/icon-car.png) 0 0 no-repeat;
		}
		figcaption {
			width: 608px;
			font-weight: 500;
			color: $merk-color;
			text-align: center;
			text-transform: uppercase;
			line-height: 36px;
		}
	}





	//
	// extra-informatie
	//
	//
	// extra-informatie
	//
	#extra-informatie {
		position: relative;
		background: $grayLighter;
		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 1000px;
			height: 10px;
			margin: 0 0 0 -1160px;
			background: $merk-color;
			content: "";
		}
		.row > div.columns {
			padding-top: 50px;
			padding-bottom: 30px;
			&.info {
				padding-bottom: 80px;
			}
		}
		.offerte {
			img { margin: 0 0 30px; }
			.price {
				margin: 20px 0 30px;
				color: $merk-color;
				span {
					display: inline;
					font-size: 25px;
					color: $default-font-color;
				}
				sup,sub {
					display: inline-block;
					text-transform: none;
					font-weight: 500;
					color: $default-font-color;
				}
			}
		}
	}
}