//
// Settings
$badge-bgcolor: #2f3639;
$badge-textcolor: #fff;
$heading-color: #000;
// End

.acties {

	// Box action
	// -------------------------
	.box-action {
		> a {
			z-index: 10;
			position: relative;
		}


		// image
		&.image {
			position: relative;

			img {
				border: 10px solid #f1f1f1;
			}

			.bottom {
				position: absolute;
				bottom: 20px;
				left: 10px;
				width: 95%;
				max-width: 680px;

				.large-7 {
					width: 49%;
				}

				.columns {
					&:first-child {

					}

					&:last-child {

					}
				}

				.inzetje {
					padding: 15px 20px;
					font-size: rem-calc(18);
					color: #fff;
					background: rgb(47, 54, 57);
					background: rgba(47, 54, 57, 0.6);
					text-align: center;
				}
			}

			// Badge // Circle
			.circle {
				display: block;
				position: absolute;
				top: -40px;
				right: -15px;
				font-size: rem-calc(25);
				background: $badge-bgcolor;
				color: $badge-textcolor;
				text-align: center;
				width: 140px;
				height: 140px;
				padding: 45px 0 0;
				line-height: 1em;
				z-index: 100;
				border: solid 5px #fff;
				@include border-radius(50%);

				@media #{$small-only} {
					display: block;
					position: absolute;
					font-size: rem-calc(20);
					width: 110px;
					height: 110px;
					padding: 29px 0 0;
					@include border-radius(50%);
				}
			}

			.content {
				position: absolute;
				z-index: 50;
				left: 0;
				bottom: 0;
				margin: 0 10px 0 0;
				padding: 10px 0 0 10px;
				background: $grayLighter;
				@media #{$large-up} {
					bottom: 20px
				}
				h4 {
					float: left;
					width: 100%;
					margin: 0 10px 10px 0;
					max-width: 100%;
					font-size: rem-calc(12);
					text-decoration: underline;
					color: $grayLight;
					@media #{$large-up} {
						font-size: rem-calc(14);
						text-decoration: none;
						max-width: 220px;
					}
					span {
						display: inline-block;
						color: $merk-color;
					}
				}
				.button {
					float: right;
					display: none;
					width: auto;
					margin: 0 10px 10px 0;
					padding: 8px 15px;
					font-size: rem-calc(14);
					@media #{$large-up} {
						display: block;
					}
				}
			}

			// bar
			.bar {
				position: absolute;
				z-index: 2;
				top: -60px;
				right: 30px;
				display: block;
				width: 200px;
				min-height: 85px;
				padding: 12px 0 0;

				@include font-size(18);
				text-align: center;
				font-family: $merk-font;
				font-weight: 700;
				background: #fff;
				@include border-radius(5px 5px 0 0);
				@include box-shadow(0 0 5px #ccc);
				@include rotate(2deg);
				@media screen and (max-width: 700px){
					top: -48px;
					right: 5px;
					width: 125px;
					min-height: 50px;
					@include font-size(14);
				}
			}
		}

		// car details
		&.car-details {
			margin: 0 0 20px;
			padding: 0 0 0 20px;
			@include clearfix;
			@media #{$small-only}{ padding-left: 0; }

			h1 {
				margin: 0;
				color: $merk-color;
				font-size: rem-calc(18);
				font-weight: 700;
				font-family: $merk-font;
			}
			.button.small {
				float: left;
				margin-top: 20px;
				width: 45%;
				min-width: 80px;

				+ .small {
					float: right;
				}
			}
			.subheading {
				display: block;
				margin: 0 0 10px;
				@include font-size(12);
				font-weight: 700;
			}
			.btn-inruilwaarde {
				float: right;
				max-width: 280px;
				width: 100%;
				height: 55px;
				text-indent: -900em;
				background: url('../img/actiemodule/actiemodule-kenteken.png') no-repeat 0 bottom;
				background-size: contain;
			}
			.content p span {
				margin: 3px 4px 0 0;
				display: inline-block;
				vertical-align: top;
			}
			p {
				@include font-size(12);
			}

			.prices {
				margin: 35px 0 0;

				.price-from {
					text-decoration: line-through;
					font-weight: 700;
					color: $gray;
				}

				.price {
					margin: 10px 0 0;
					display: block;
					font-weight: 700;
					color: $gray;
					font-size: rem-calc(16);

					strong {
						font-size: rem-calc(25);
						font-family: $merk-font;
						font-weight: 700;
						color: $merk-color;
					}
				}
			}

			.content {
				margin: 0 0 15px;
				padding: 0 0 20px;
				border-bottom: 1px solid #0ff;
			}

			.bottom {
				margin: 0 0 20px;
				padding: 0 0 5px;
				border-bottom: 1px solid #0ff;
				@include clearfix;
			}
		}
	}
}

//
// #actie-voorraad
//
#actie-voorraad {
	.action-heading {
		display: block;
		text-align: center;

		h2.action-highlight {
			font-size: rem-calc(30);
			display: inline-block;
			padding: 10px 25px;
			text-align: center;

			@include box-shadow(0px 4px 5px 5px rgba(0, 0, 0, 0.05));
		}
	}

	.heading {
		margin: 43px 0 0;
		padding: 12px 20px;
		background: #f1f1f1;
		-webkit-box-shadow: 0 -39px 0 0px #fff, 0 -40px 0 0px $grayLighter;
		box-shadow: 0 -39px 0 0px #fff, 0 -40px 0 0px $grayLighter;

		p {
			margin: 0;
			color: $gray;
			font-family: $merk-font;
			font-size: rem-calc(18);
			font-weight: 700;
		}
		h2 {
			color: $merk-color;
			font-size: 24px;
			line-height: 24px;
			margin: 0;
			font-family: $merk-font;
			font-weight: 700;
		}
	}

	.list-offers {
		border-bottom: 1px solid #dfdfdf;
		padding: 0 0 35px;
		margin: 0 0 5px;

		> li {
			@include grid-row;
			margin: 0;
			background: #f1f1f1;
			border-top: 1px solid $white;

			.image-container {
				@include grid-column(4);
				padding-left: 0;

				@media #{$medium-only} {
					@include grid-column(6);
				}
				@media #{$small-only}{
					@include grid-column(12);
				}
			}

			.content {
				@include grid-column(5);

				padding-top: 10px;
				padding-bottom: 10px;

				ul.details {
					margin: 0;
					@include font-size(12);
					li {
						@include clearfix;
						@media #{$small-only}{ margin: 0 0 10px; }
					}

					label {
						float: left;
						display: inline-block;
						min-width: 85px;
						width: 40%;
						vertical-align: top;

						margin: 0;
						color: $gray;
						@include font-size(11);
						line-height: 18px;
						@media #{$small-only}{ float: none; display: block; width: 100% }
						@media screen and (min-width: 786px) and (max-width: 940px) {
							float: none;
							display: block;
							width: 100%;
							max-width: 100%;
						}
					}
					span {
						float: right;
						display: inline-block;
						min-width: 85px;
						width: 49%;
						color: $gray;
						@include font-size(11);
						line-height: 18px;
						font-weight: 700;
						@media #{$small-only}{ float: none; display: block; width: 100% }
						@media screen and (min-width: 786px) and (max-width: 940px) {
							float: none;
							display: block;
							width: 100%;
							max-width: 100%;
						}
					}
				}
				@media #{$small-only}{
					@include grid-column(6);
				}
				@media #{$medium-only}{
					@include grid-column(6);
				}
			}

			.prijs {
				@include grid-column(3);
				padding: 20px 20px 0 35px;
				@media #{$medium-only}{
					padding-left: 10px;
					@include grid-column(12);
					.vestiging {
						float: left;
						max-width: 50%;
					}
					.price {
						float: right;
						width: 50%;
						margin: -10px 0 0;
						font-size: 18px;
						font-weight: 700;
						span {
							font-size: 28px;
						}
					}
				}
				@media #{$small-only}{
					@include grid-column(6);
				}
			}
		}

		.content {
			ul {
				list-style: none;
			}
			p {
				margin: 0 0 12px;
			}
			h2 {
				margin: 0 0 3px;
				color: $merk-color;
				@include font-size(18);
			}
			.subheading {
				display: block;
				margin: -5px 0 5px;
				@include font-size(12);
				font-weight: 400;
				color: $gray;
			}
		}

		.prijs {
			padding: 15px 0 0 0;
			text-align: right;

			.button {
				float: right;
				clear: right;
				margin: 0 0 10px;
				@include font-size(14);
				min-width: 180px;
				width: 100%;
				font-family: Arial;

				&.secondary {
					@include font-size(12);
					font-weight: bold;
				}
			}

			.price {
				display: block;
				margin: 0 0 5px;
				font-size: rem-calc(12);
				font-family: $merk-font;
				font-weight: 700;

				span {
					display: inline-block;
					font-size: rem-calc(24);
					color: $merk-color;
					font-family: $merk-font;
				}
			}

			.vestiging {
				display: inline-block;
				margin: 0 0 10px;
				padding: 3px 8px 2px;
				background: $white;
				@include font-size(12);
				color: $gray;

				strong {
					@include font-size(13);
					font-family: $merk-font;
				}
			}
		}
	}
}

// Actieauto footer
#actie-footer {
	padding: 20px 0 10px;

	.columns.large-4:after {
		content: '';
		position: absolute;
		top: 10px;
		left: -40px;
		width: 1px;
		height: 100%;
		background: #dfdfdf;
	}

	h2 {
		font-size: rem-calc(14);
		color: $merk-color;
	}
	p {
		@include font-size(12);
	}
	.button {
		display: inline-block;
		vertical-align: top;
		color: $white;
		padding: 10px 25px;
	}

	.standaard-voorzieningen {
		padding: 0;

		h3 {
			font-size: rem-calc(14);
			color: $merk-color;
		}
		ul {
			@include font-size(12);
			list-style: disc;
			margin: 0 0 0 15px;

			li {
			}
		}
	}
	@media screen and (max-width: 768px){
		.columns.large-4 {
			border-left: 1px solid #dfdfdf;
			&:after {
				display: none;
			}
			@media #{$small-only}{
				border: none;
			}
		}
	}
}

#occasion,
.single-actie {
	@media #{$small-only}{
		.intro p {
			width: 55%;
		}
	}
	@media #{$medium-up}{
		.intro p {
			width: 35%;
		}
	}
}


.lt-ie9 {
	.acties .box-action.car-details .btn-inruilwaarde {
		width: 280px;
		max-width: auto;
	}
	#actie-voorraad .list-offers > li .content ul.details label {
		margin: 0 0 0 -10px;
	}
	#actie-voorraad .list-offers > li .content ul.details li {
		display: block;
		margin: 0 0 -18px;
	}
	#actie-voorraad .list-offers > li .prijs a.button {
		padding: 10px;
	}
}