//
// Modelmodule detail
// --------------------------------------------------
.occasions.modelmodule.detail {
	//
	// gegevens
	//
	#gegevens {
		padding-bottom: 2px;
		.price { margin: 40px 0 30px; }
		.button { min-width: 168px; }
		.button + .button { margin-top: -13px; }
	}



	//
	// carousel
	//
	#carousel-nav {
		padding: 40px 0;
		background: $grayLighter;
		h4 {
			margin: 0 0 30px;
			padding: 0 0 10px;
			color: $merk-color;
		}
		.model-afb {
			border-color: #fff;
			li {
				margin: 0 !important;
			}
		}
		.list-album-thumbs {
			width: 100% !important;
			-moz-transform: translateX(0px) !important;
			-webkit-transform: translateX(0px) !important;
			-o-transform: translateX(0px) !important;
			-ms-transform: translateX(0px) !important;
			transform: translateX(0px) !important;
			li {
				margin: 0 7px 7px 0;
			}
		}
		.carousel-direction-nav {
			display: none;
		}
	}

	//
	// extra-informatie
	//
	#extra-informatie {
		background: $grayLighter;
		.contact {
			@media screen and (max-width: 1180px) {
				padding: 0 20px 0 30px;
			}
		}
		.buttons {
			> div {
				float: left;
				margin: 0 20px 15px 0;
				padding: 20px 20px 5px;
				background: $grayLighter;
				&:first-child { margin-left: 0; }
				h3 {
					font-size: 30px;
					line-height: 23px;
					span { font-size: 13px; }
				}
				.price {
					font-size: 24px;
					color: $merk-color;
				}
			}
		}
	}

	//
	// downloads
	//
	#downloads {
		h1 {
			margin: 22px 0;
		}
		padding: 50px 0;
		.download-list {
			li {
				float: left;
				padding: 0 20px 15px 0;
				width: 33%;
				min-width: 130px;
				&:first-child { margin-left: 0; }
				a {
					display: block;
					color: $default-font-color;
					.img {
						display: block;
						width: 100%;
						height: 115px;
						margin: 0 0 7px;
						padding: 10px 0 0;
						background: $merk-color;
						img {
							display: block;
							margin: 0 auto;
							border: none;
						}
					}
					&:hover {
						color: $merk-color;
					}
					.text {
						i {
							position: relative;
							display: inline-block;
							width: 14px;
							height: 14px;
							margin: 0 10px 0 0;
							background: $merk-color;
							vertical-align: middle;
							@include border-radius(50%);
							&:after {
								position: absolute;
								top: 3px;
								left: 2px;
								width: 10px;
								height: 8px;
								background: url(../img/sprite-arrows.png) -10px -20px no-repeat;
								content: "";
							}
						}
					}
				}
			}
		}
	}
}

//
// Lease detail
// --------------------------------------------------
.lease {
	&.detail .model-content {
		min-height: 330px;
		.price {
			margin: 55px 0;
		}
	}
}