//
// Modelmodule detail
// --------------------------------------------------
.occasions.verhuur.detail {
	//
	// header
	//
	header.header {
		aside {
			.button {
				margin: 15px 0 30px;
				width: auto;
			}
			.lease-overzicht {
				margin: 0 -55px -20px;
				li {
					padding: 16px 55px 11px;
					border-top: 1px solid #fff;
					p {
						margin: 0 0 5px;
						display: inline-block;
						vertical-align: middle;
						width: 49%;
					}
					h4 {
						display: inline-block;
						margin: 0 0 5px;
						font-size: 28px;
						vertical-align: middle;
						min-width: 140px;
					}
				}
			}
		}
	}



	//
	// gegevens
	//
	#gegevens {
		padding-bottom: 2px;
		background: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		.price { margin: 40px 0 30px; }
		.button { min-width: 168px; }
		.button + .button { margin-top: -13px; }
		h2,h4 {
			color: $merk-color;
		}
	}



	//
	// prijzen
	//
	#prijzen {
		background: $grayLighter;
		border: solid #fff;
		border-width: 3px 0 2px;
		ul {
			li {
				padding-bottom: 0;
				border: solid #fff;
				border-width: 0 2px 1px 0;
				&:first-child { border-left-width: 2px; }
				h4 {
					margin: 20px 0;
					color: $merk-color;
					text-align: center;
				}
			}
		}
	}



	//
	// carousel
	//
	#carousel {
		padding: 40px 0;
		background: $grayLighter;
		h4 {
			margin: 0 0 30px;
			padding: 0 0 10px;
			color: $merk-color;
		}
		.model-afb {
			border-color: #fff;
			li {
				margin: 0 !important;
			}
		}
		#carousel-nav {
			padding: 0 10px;
			background: none;
			.list-album-thumbs {
				width: 100% !important;
				-moz-transform: translateX(0px) !important;
				-webkit-transform: translateX(0px) !important;
				-o-transform: translateX(0px) !important;
				-ms-transform: translateX(0px) !important;
				transform: translateX(0px) !important;
				li {
					margin: 0 7px 7px 0;
				}
			}
			.carousel-direction-nav {
				display: none;
			}
		}
	}



	//
	// extra-informatie
	//
	@media screen and (min-width: 1200px){
		.contact {
			padding-right: 100px;
		}
	}
	#extra-informatie {
		background: none;
	}
}