//
// Header
// --------------------------------------------------

/* Important styles */
#toggle {
	display: block;
	width: 28px;
	height: 30px;
	margin: 20px auto 10px;
}

#toggle span:after,
#toggle span:before {
	content: "";
	position: absolute;
	left: 0;
	top: -9px;
}

#toggle span:after {
	top: 9px;
}

#toggle span {
	position: relative;
	display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
	width: 100%;
	height: 4px;
	background-color: #888;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
}

/* on activation */
#toggle.on span {
	background-color: transparent;
}

#toggle.on span:before {
	transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
	transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
	opacity: 1;
}

/* menu appearance*/
#menu {
	position: relative;
	color: #999;
	width: 220px;
	padding: 10px;
	margin: auto;
	text-align: center;
	border-radius: 4px;
	background: white;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
	/* just for this demo */
	opacity: 0;
	transition: opacity .4s;

	&:after {
		position: absolute;
		top: -15px;
		left: 95px;
		content: "";
		display: block;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 20px solid white;
	}

	ul {
		li {
			list-style: none;
			display: block;
			margin: 0;
			padding: 0;
			a {
				padding: 5px;
				color: #888;
				text-decoration: none;
				transition: all .2s;

				&:hover {
					color: #b5b5b5;
				}
			}
		}
	}
}

.detail {
	header {
		height: 200px;
		img {
			height: 150px;
			@include transition(all 0.3s);
		}
	}

}

header {
	.blink2 {
		-webkit-animation: myani 1.5s infinite;
		animation: myani 1.5s infinite;
	}

	.underscore{
		color: #dd4944;
		margin-left: 5px;
	}

	h1{
		color: #Fff;
		text-transform: none;
		margin-top: 10px;
		font-weight: 200;
		display: block;
		span{
			font-weight: 700;
			display: inline-block;
		}
		&.logo{font-size: 32px;
			@media (max-width: 420px) {
				margin-right: auto;
				margin-left: auto;
				text-align: center;
			}
		}

	}


	width: 100%;
	background: url(../img/bg-header.jpg) center top;
	height: 450px;
	@include transition(all 0.3s);

	.slider {
		padding-top: 50px;
		ul {
			margin: 0 auto;
			display: block;
			li {
				text-shadow: 0 1px 6px #888888;
				a {
					text-decoration: underline;
					color: #fff;
				}
				blockquote {
					color: #fff;
					font-size: 30px;
					font-weight: 700;
					width: 800px;
					&:before {
						content: url(../img/quote-links.png);
						position: relative;
						top: -15px;
					}
					&:after {
						content: url(../img/quote-rechts.png);
						position: relative;
						top: 10px;
					}
				}
			}
		}

	}

	@media (max-width: 1366px) {
		height: 350px;

	}
	@media (max-width: 768px) {
		img {
			margin-right: auto;
			margin-left: auto;
			display: block;
		}
	}
	@media (max-width: 420px) {
		height: 200px;

		img {
			height: 150px;
			@include transition(all 0.3s);
		}
	}

}

@-webkit-keyframes myani {
	0% {
		opacity: 0.0;
	}
	51% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.0;
	}
}

@keyframes myani {
	0% {
		opacity: 0.0;
	}
	51% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.0;
	}
}

