//
// Detail
// --------------------------------------------------

#charByte{
  width: 150px;
  height: 200px;
  position: relative;
  top: 200px;
  background: #f00111;
  left: calc(50% - 150px / 2);
  z-index: 2;
}