//
// Detail
// --------------------------------------------------

#charByte{
  width: 75px;
  height: 100px;
  position: relative;
  top: 200px;
  background: #f00111;
  left: calc(50% - 75px / 2);
  z-index: 30;
}

#questionOne {
  background-color: yellow;
  width: 185px;
  height: 75px;
  z-index: 31;
  opacity: 0;
  left: 360px;
  top: 540px;
  position: relative;
  display: block;
  position: fixed;
  border-radius: 30%;
}

p.textCharByte
{
	font-size: 10pt;
	padding: 0 5px;
	text-align: center;
	opacity: 0;
}

#chooseOptions {opacity: 0;}

#optionOne, #optionTwo {
	width: 30px;
	height: 30px;
	z-index: 300;
	left: 580px;
	position: relative;
  display: block;
  position: fixed;
  border: none;
}

#optionOne {
	background-color: green;
	top: 540px;
}

#optionTwo {
	background-color: pink;
	top: 600px;
}