//
// Detail
// --------------------------------------------------

#charByte{
  width: 150px;
  height: 200px;
  position: relative;
  top: 200px;
  background: #f00;
  margin: 0px auto;
  z-index: 2;
}