//
// Home
// --------------------------------------------------
#container{
  background: #5790d7;
}

#startParallax{
  background: #5790d7;
  height: 960px;
}

#skyFall{
  height: 2330px;
}

#computerScreen{
 background: url("../img/computerscreen.png") no-repeat center center;
  height: 960px;
}

#computerScreenTopBar{
  background-color: #4d4d4d;
  height: 58px;
  width: 200px;
  z-index: 3;
  top:10%;
  position: relative;
  margin: 0px auto;
}

#btnLoadScroll{
  background:#000;
  position: relative;
  z-index: 2;
  bottom: 0;
  margin: 0px auto;
  height: 50px;
  width: 50px;
  border: none;
}

#music_btn{
  width: 50px;
  height: 50px;
  right: 10px;
  top: 10px;
  position: fixed;
}

.play{
  background: url("../img/btnPlay.svg") no-repeat;
}

.mute {
  background: url("../img/btnPauze.svg") no-repeat;

}

