//
// Layout.scss
// --------------------------------------------------
body{
  height: 4320px;
  margin: 0px;
}

#container{
  background: #5790d7;
}

#startParallax{
  background: #5790d7;
  height: 100%;
  width: 100%;
  position: absolute;

  #btnScroll{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background: #ff1e1e;
    text-align: center;
    left: calc(50% - 75px / 2);
    top: 57%;
    position: relative;
    z-index: 2;

    .perc{
      border-radius: 50%;
      width: 75px;
      height: 19px;
      background: #ff1e1e;
      padding: 28px 0;
      font-family: wellbutrinregular ;
      font-size: 18px;
      color: #e7e0e0;
      z-index: 3;
    }
  }
}

#skyFall{
  height: 2330px;
  bottom: 100%;
  position: static;

  background: #5791d7;
  background: -moz-linear-gradient(top, #5791d7 50%, #aac2e0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(50%, #5791d7), color-stop(100%, #aac2e0));
  background: -webkit-linear-gradient(top, #5791d7 50%, #aac2e0 100%);
  background: -o-linear-gradient(top, #5791d7 50%, #aac2e0 100%);
  background: -ms-linear-gradient(top, #5791d7 50%, #aac2e0 100%);
  background: linear-gradient(to bottom, #5791d7 50%, #aac2e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5791d7', endColorstr='#aac2e0', GradientType=0 );

}

#computerScreen{
  background: url("../img/computerscreen.png") no-repeat center center;
  height: 100%;
  top: 2400px;
  width: 100%;
  position: absolute;
  z-index: 5;
}

#music_btn{
  width: 47px;
  height: 37px;
  right: 20px;
  top: 15px;
  position: fixed;
  background: url("../img/music_btn.png") no-repeat 0 0;
}

@font-face {
  font-family: 'wellbutrinregular';
  src: url('../font/Welbut__-webfont.eot');
  src: url('../font/Welbut__-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/Welbut__-webfont.woff2') format('woff2'),
  url('../font/Welbut__-webfont.woff') format('woff'),
  url('../font/Welbut__-webfont.ttf') format('truetype'),
  url('../font/Welbut__-webfont.svg#wellbutrinregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
